/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
  
}
.button
{
     -fx-background-color:  #ffffff;
    -fx-background-radius: 15;
     
}
#mystay
{
    -fx-background-color:  #111111;
}
#profilesettings
{
    -fx-background-color:  #111111;
}